.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}

.loginBox {
  background-color: #1E1F24;
  padding: 40px;
  border-radius: 24px;
  width: 460px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 32px;
  color: #fff;
}

.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  border: 1px solid #2C2D33;
  padding: 12px;
  border-radius: 12px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.googleBtn:hover {
  background-color: #2C2D33;
}

.googleBtn img {
  width: 24px;
  height: 24px;
}

.orDivider {
  margin: 24px 0;
  color: #fff;
}

.inputLabel {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  color: #fff;
}

.inputField {
  width: 100%;
  padding: 12px;
  border: 2px solid #7F7CAF;
  border-radius: 12px;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.inputField:focus {
  outline: none;
  border-color: #9795C7;
}



.buttonContainer {
  display: flex;
  justify-content: center; /* Center for Step 1 */
  width: 100%;
  margin-top: 20px;
}

/* This ensures buttons are evenly spaced in Step 2 */
.buttonContainer.twoButtons {
  justify-content: space-between; /* Spread buttons */
  gap: 15px; /* Space between buttons */
}

/* Back Button */
.backBtn {
  background-color: #444;
  color: white;
  border: none;
  padding: 12px;
  width: 48%; /* Reduce width */
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.backBtn:hover {
  background-color: #333;
}

/* Next/Login Button */
.nextBtn {
  background-color: #7F7CAF;
  color: white;
  border: none;
  padding: 12px;
  width: 100%; /* Full width for step 1 */
  max-width: 200px; /* Ensures it stays centered */
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.nextBtn:hover {
  background-color: #6a58a8;
}

/* In Step 2, reduce the width of Login button */
.buttonContainer.twoButtons .nextBtn {
  width: 48%;
}


.signupLink {
  margin-top: 24px;
  color: #848484;
}

.signupLink a {
  color: #7F7CAF;
  text-decoration: none;
}

.signupLink a:hover {
  text-decoration: underline;
}

.forgotPassword {
  text-align: right;
  margin-top: 8px;
}

.forgotPassword a {
  color: #7F7CAF;
  text-decoration: none;
  font-size: 14px;
}

.forgotPassword a:hover {
  text-decoration: underline;
}
