.navbar {
	background: rgba(127, 124, 175, 0.5);
	border: 3px solid #7f7caf;
	width: 80%;
	max-width: 400px;
	border-radius: 15px;
	display: flex;
	justify-content: space-around;
	padding: 15px;
	position: fixed;
	bottom: 20px;
}

.navItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;
}

.navItem img {
	opacity: 1; /* Makes icons slightly faded by default */
	transition: opacity 0.3s;
}

.navItem:hover img {
	opacity: 1; /* Full opacity on hover */
}
