/* raffle.module.css */
.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* Ensure vertical centering */
	min-height: 100vh;
	background-color: #0a0908; /* Match dark theme */
	color: #ffffff;
	font-family: "Wix Madefor Display";
}
